@model ShopCartViewModel
<div class="container">
    @foreach (var el in Model.ShopCart.ListShopItems)
    {
        <div class="alert alert-warning mt-3">
            <p><b>Automobile:</b> @el.Car.Name</p>
            <p><b>Price:</b> @el.Car.Price.ToString("c")</p>
        </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Buy</a>
</div>