<h1>All Cars</h1>
<h3>@Model.CurrentCategory</h3>
@{
    foreach (var car in Model.GetAllCars)
    {
        <div>
            <h2>Model: @car.Name</h2>
            <p>Price: @car.Price.ToString("c")</p>
        </div>
    }
}
